In [2]:
"""
날짜:2023-01-13
이름:전인준
내용:파이썬 데이터베이스 실습
"""
import pymysql

In [9]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        passwd='1234',
                        db='java2db', 
                        charset='UTF8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values ('a777', '얼죽아', '010-1212-0131', 77)"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...!')

Insert 완료...!

In [10]:
# Update 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        passwd='1234',
                        db='java2db', 
                        charset='UTF8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user3` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-1234-1234',"
sql += "`age`=22 "
sql += "where `uid`='a777'"

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...!')

Update 완료...!

In [5]:
# Delete 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        passwd='1234',
                        db='java2db', 
                        charset='UTF8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행

cur.execute("delete from `user3` where `uid`='a777'")
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...!')

Delete 완료...!

In [8]:
# Selete 실습
from sub.User3VO import User3VO
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        passwd='1234',
                        db='java2db', 
                        charset='UTF8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행

cur.execute("select * from `user3`")
conn.commit()

# 결과 데이터 생성
users = []
for row in cur.fetchall():
    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)

# 데이터베이스 종료
conn.close()
print('Selete 완료...!')

# 결과 출력
for user in users:
    print('----------------')
    print('아이디 :', row[0])
    print('이름 :', row[1])
    print('휴대폰 :', row[2])
    print('나이 :', row[3])

Selete 완료...!
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20
----------------
아이디 : j101
이름 : 이황
휴대폰 : 010-7894-4567
나이 : 20